<div class="container my-4">
	<div class="d-flex justify-content-between align-items-center">
		<h1>Meu Carrinho</h1>
		<% unless @cart.empty? %>
			<%= link_to cart_path, method: :delete, data: {confirm: "Você deseja retirar todos os itens do seu carrinho?"} do %>
				<i class="fas fa-trash" style="color: red;"></i>
			<% end %>
		<% end %>
	</div>
	
	<% if @cart.empty? %>
		<p>Você não adicinou nenhum elemento ao seu carrinho</p>
		<%= link_to fabrics_path do %>
			<button class="btn btn-success">Descubra nossos tecidos</button>
		<% end %>
	<% else %>
		<% @cart.keys.each do |company| %>
			<%= render partial: 'company_card', locals: {company: company, cart: @cart} %>
		<% end %>
		
		<div class="d-flex justify-content-end">
			<button class="btn btn-success" id="validate-cart">Validar Carrinho</button>
		</div>
	<% end %>
</div>

<div class="container hidden" id="delivery-part">
	
	<div class="d-flex align-items-center">
		<h2>Escolhe o endereço de entrega ou</h2>
		<button class="btn btn-secondary mx-4 delivery-point-form">crie um novo endereço</button>
	</div>

	<div class="hidden" id="delivery-point-form">
		<%= render partial: "delivery_point_form", locals: {delivery_point: @delivery_point} %>
	</div>
	
	<%= render partial: "delivery_points_grid" %>
	
	<div class="d-flex justify-content-end mb-4">
		<%= form_for :delivery_point, url: {action: :set_delivery_point} do |f| %>
			<%= f.hidden_field :id, id: "delivery-point-id", value: @default_delivery_point %>
			<%= f.submit "Pagar", class: "btn btn-success" %>
		<% end %>
	</div>

</div>
