<div class="container my-4">
	<div class="d-flex justify-content-between align-items-center">
		<h1>Meu Carrinho</h1>
		<% unless @cart.empty? %>
			<%= link_to cart_path, method: :delete, data: {confirm: "Você deseja retirar todos os itens do seu carrinho?"} do %>
				<i class="fas fa-trash" style="color: red;"></i>
			<% end %>
		<% end %>
	</div>
	
	<% if @cart.empty? %>
		<p>Você não adicinou nenhum elemento ao seu carrinho</p>
		<%= link_to fabrics_path do %>
			<button class="btn btn-success">Descubra nossos tecidos</button>
		<% end %>
	<% else %>
		<% @cart.keys.each do |company| %>
			<%= render partial: 'company_card', locals: {company: company, cart: @cart} %>
		<% end %>
		
		<div class="d-flex justify-content-end">
			<% if current_user.checkout_session_id.nil? %>
				<%= link_to "Validar Carrinho", payments_path, class: "btn btn-success", method: :post %>	
			<% else %>
				<button class="btn btn-warning" id="pay">Pagar</button>

			      <script src="https://js.stripe.com/v3/"></script>
			      <script>
			        const paymentButton = document.getElementById('pay');
			        paymentButton.addEventListener('click', () => {
			          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
			          stripe.redirectToCheckout({
			            sessionId: '<%= current_user.checkout_session_id %>'
			          });
			        });
			      </script>

			<% end %>		
		</div>
	<% end %>
</div>


