<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Meu Carrinho</h1>
        <% unless @cart.empty? %>
        <%= link_to cart_path, method: :delete, data: {confirm: "Você deseja retirar todos os itens do seu carrinho?"}, title:  "Esvaziar carrinho"  do %>
        <i class="fas fa-trash" style="color: red;"></i>
        <% end %>
        <% end %>
    </div>

    <% if @cart.empty? %>
    <p>Você não adicionou nenhum elemento ao seu carrinho</p>
    <%= link_to fabrics_path do %>
    <button class="btn btn-success">Descubra nossos tecidos</button>
    <% end %>
    <% else %>

    <%= render partial: 'samples', locals: { cart: @samples} %>

    <% @cart.keys.each do |company| %>
    <%unless @cart[company].all? {|x| x.is_sample}%>
    <%= render partial: 'company_card', locals: {company: company, cart: @cart} %>
    <% end %>
    <% end %>
    <div class="d-flex justify-content-end">
        <%= link_to "Validar Carrinho", delivery_points_path, class: "btn btn-success"  %>
    </div>
    <% end %>

</div>