<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <%= render "./shared/search" %>
        </div>
    </div>
    <div class="d-flex">
        <div id="advanced-search-form">
            <%= simple_form_for :search, url: root_path, method: "GET", remote: true do |f| %>
            <%= f.input :colour, label: "Cor",  collection: $colors, as: :check_boxes %>
            <%= f.input :colour, label: "Tipo",  collection: $fabric_type, as: :check_boxes %>
            <%= f.input :price, label: "Preço", as: :range %>
            <% end %>
        </div>
        <div class="cards text-center" id="fabrics">
            <% @fabrics.each do |fabric| %>
            <%= render "./shared/base_fabric", fabric: fabric %>
            <% end %>
        </div>
    </div>
</div>