<%= render "./shared/company_banner", company: @fabric.company %>
<hr>
<% if user_signed_in? %>
	<% if policy(@fabric).edit? %>
		<div class="container">
		    <p>Esse produto é oferecido por sua empresa. Você pode
		        <%= link_to "editá-lo", edit_fabric_path(@fabric) %>
		        <% if policy(@fabric).destroy? %>
		        	ou <%= link_to "retirá-lo", @fabric, method: :delete, data: {confirm: "Tem certeza que deseja retirar esse produto do seu sortimento?"} %> do seu sortimento	
		        <% else %>
		        	.
		        <% end %>
		        
		    </p>
		</div>
	<% end %>	
<% end %>

<div class="container d-flex justify-content-between my-4">
	<div>
		<% unless @fabric.photos[0].nil?%>
			<div>
        		<%= cl_image_tag @fabric.photos[0].key, height: 500, width: 400, crop: :fill, id:"main-pic" %>
        	</div>
        	<% next_photos = @fabric.photos[1..6] %>
        	<div class="d-flex">
		        <% next_photos.each do |photo| %>
		        	<div class="mt-3 mr-2 other-pics">
		            	<%= cl_image_tag photo.key, height: 500, width:400, crop: :fill, class:"small-pics" %>
		        	</div>
		        <% end %>
		    </div>
	    <% else %>
	    	<div>
	        	<%= image_tag "textile_roll.png", size: "400x500", id:"main-pic" %>
	        </div>
	    <% end %>
	</div>
	<div class="card w-50 bg-transparent border-0 align-items-center">
		<div class="card-body">
			<h5 class="card-title"><%= @fabric.name %></h5>
		    <h5 class="card-title"><strong><%= number_to_currency(@fabric.price.fdiv(100), unit: 'R$', separator: ".", delimitor: ",", format: "%u %n") %> / m</strong></h5>
		    <hr>
		    <div>
		    	<p class="mb-1">Quantidade</p>
		    	<%= simple_form_for @fabric_to_cart, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
			    	<%= f.input :fabric_id, :as => :hidden, :input_html => { :value => @fabric.id } %>
			    	<%= f.input :quantity, :input_html => { :value => @fabric.minimum_qty } %>
			    	<!-- Button name "COMPRAR AGORA" linked to controller. Both need to be changed if needed -->
			    	<%= f.submit "COMPRAR AGORA", class: "btn btn-success ml-4" %>
			    	<!-- Button trigger modal -->
			    	<div data-toggle="modal", data-target="#addedProduct" class="mt-3">
			    		<%= f.submit "Adicionar ao carrinho", class: "btn btn-secondary" %>
			    	</div>
		    	<% end %>
		    </div>
		    <!-- Modal -->
		    <div class="modal fade" id="addedProduct" tabindex="-1" role="dialog" aria-labelledby="addedProductLabel" aria-hidden="true">
		    	<div class="modal-dialog" role="document">
		    		<div class="modal-content">
		    			<div class="modal-header">
		    				<h5 class="modal-title" id="addedProductLabel"><strong><%= @fabric.name %></strong> adicionado ao carrinho!</h5>
		    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    					<span aria-hidden="true">&times;</span>
		    				</button>
		    			</div>
		    			<div class="modal-body">
		    				<div class="container">
		    					<div class="row justify-content-center">
		    						<%= cl_image_tag @fabric.photos[0].key, height: 200, width: 150, crop: :fill unless @fabric.photos[0].nil? %>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="modal-footer">
		    				<p>Voltando a página de tecidos...</p>
		    			</div>
		    		</div>
		    	</div>
		    </div>		    			
		    <p class="card-text mt-3">Cor: <%= @fabric.colour %></p>
		    <p class="card-text">Largura: <%= @fabric.width %>m - Gramatura: <%= @fabric.gramatura %>g/m</p>
		    <p class="card-text">Tipo: <%= @fabric.fabric_type %> - Composição: <%= @fabric.composition %></p>
		    <p class="card-text">Dias para entrega: <%= @fabric.shipment_time %> - Pedido mínimo: <%= @fabric.minimum_qty %>m</p>
			<div class="card-sustainable">
				<h3>Esse tecidos respeita o meio ambiente: <i class="fas fa-seedling"></i></h3>
				<div class="d-flex flex-wrap">
					<% @categories.each do |label_category| %>
						<p class="mr-1">#<%= label_category.name %></p>
					<% end %>
				</div>
				<%= render './shared/labels_grid', fabric: @fabric, size: 50 %>
			</div>
					    
		</div>
	</div>
</div>
<div class="container">
    <h3>Produtos Relacionados</h3>
    <hr>
    <div class="mt-4 related-products-session">
        <% @fabric.company.fabrics.each do |fabric| %>
	        <% if fabric != @fabric %>
		        <div class="mr-4 related-products">
		            <%= link_to fabric_path(fabric) do %>
		            	<% unless fabric.photos[0].nil?%>
		            		<%= cl_image_tag fabric.photos[0].key, height: 150, width: 200, crop: :fill %>
		            	<% else %>
		            		<%= image_tag "textile_roll.png", size: "200x150" %>
		            	<% end %>
		            	<p><%= fabric.name %></p>
		            <% end %>
		        </div>
	        <% end %>
        <% end %>
    </div>
</div>
