<div class="card mx-2 p-1" id="fabric">
    <% unless fabric.photos[0].nil?%>
    <%= link_to fabric_path(fabric) do %>
    <%=  cl_image_tag fabric.photos[0].key, :transformation=>[{:width=>400, :height=>250, :crop=>"fill"}] %>
    <% end %>
    <% else %>
    <%= link_to fabric_path(fabric) do %>
    <%= image_tag "textile_roll.png", size: "250x250" %>
    <% end %>
    <% end %>
    <div class="card-body fabric">
        <h5 class="card-title"><%= fabric.name %></h5>
        <div class="content">
            <p class="card-text"><%= fabric.composition %></p>
            <p class="card-text">R$<%= fabric.price/100 %>/m</p>
            <p class="hidden" id="searchable-item-color"><%= fabric.colour %></p>
            <p class="hidden" id="searchable-item-fabric-type"><%= fabric.fabric_type %></p>
            <p class="hidden" id="searchable-item-price"><%= fabric.price %></p>
            <%  unless fabric.labels.empty? %>
            <%  fabric.labels.each do |label| %>
            <p class="hidden" id="searchable-item-labels"><%= label.name %></p>
            <% end %>
            <% end %>
        </div>
        <div class="edit-links mx-2">
            <% if user_signed_in? && policy(fabric).edit? %>
            <%= link_to edit_fabric_path(fabric) do %>
            <i class="fas fa-edit green mr-2"></i>
            <% end %>
            <% end %>
            <% if params[:id].nil?%>
            <%= simple_form_for @fabric_to_cart, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
            <%= f.input :fabric_id, :as => :hidden, :input_html => { :value => fabric.id } %>
            <%= f.hidden_field :is_sample,  :value => true  %>
            <!-- Button name "COMPRAR AGORA" linked to controller. Both need to be changed if needed -->
            <%= f.submit "Pedir Amostra", class: "btn btn-success ml-4" %>
            <% end %>
            <% end %>

            <% if user_signed_in? && policy(fabric).destroy? %>
            <%= link_to fabric, method: :delete, data: {confirm: "Tem certeza que quer retirar esse produto da venda?"} do %>
            <i class="fas fa-trash red ml-2"></i>
            <% end %>
            <% end %>
        </div>
    </div>
</div>