<div class="card card-fabric mx-2 p-1" id="fabric">
    <% unless fabric.photos[0].nil?%>
    <%= link_to fabric_path(fabric) do %>
    <%=  cl_image_tag fabric.photos[0].key, :transformation=>[{:width=>400, :height=>250, :crop=>"fill"}] %>
    <% end %>
    <% else %>
    <%= link_to fabric_path(fabric) do %>
    <%= image_tag "textile_roll.png", size: "250x250" %>
    <% end %>
    <% end %>

    <%= render './shared/edit_links', fabric: fabric %>

    <div class="card-body fabric">
        <div class="content">
            <div class="d-flex justify-content-between">
                <h5 class="card-title"><%= fabric.name %></h5>
                <p class="card-text"><strong>R$<%= fabric.price/100 %>/m</strong></p>
            </div>
            <p class="card-text"><%= fabric.composition %></p>
            <p class="hidden" id="searchable-item-color"><%= fabric.colour %></p>
            <p class="hidden" id="searchable-item-fabric-type"><%= fabric.fabric_type %></p>
            <p class="hidden" id="searchable-item-price"><%= fabric.price %></p>
            <%  unless fabric.labels.empty? %>
            <%  fabric.labels.each do |label| %>
            <p class="hidden" id="searchable-item-labels"><%= label.name %></p>
            <% end %>
            <div class="my-1 d-flex justify-content-center">
                <%= render './shared/labels_grid', fabric: fabric, size: 30 %>
            </div>
            <% end %>
        </div>
        <div>
            <div class="d-flex align-items-end  justify-content-between"> 

                    <%= simple_form_for @fabric_to_cart, html: {class: "d-flex align-items-end"} do |f| %>
                    <%= f.input :fabric_id, :as => :hidden, :input_html => { :value => fabric.id } %>
                <div class="d-flex align-items-end">
                    <%= f.input :quantity, label: false, :input_html => { :value => fabric.minimum_qty, style: "opacity: 0.5"}, :wrapper_html => {class: "form-index-fabric"}%>
                    <label>m</label>
                </div>
                <button type="submit" class="btn btn-success btn-card-index-cart" title="Adicionar ao Carrinho">
                    <i class="fas fa-cart-arrow-down"></i>
                </button>

                <% end %>
                <% if params[:id].nil?%>
                <%= simple_form_for @fabric_to_cart, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
                <%= f.input :fabric_id, :as => :hidden, :input_html => { :value => fabric.id } %>
                <%= f.hidden_field :is_sample,  :value => true  %>

                <button type="submit" class="btn btn-success btn-sm btn-card-index-sample" title="Pedir Amostra">
                    <i class="fas fa-swatchbook"></i>
                </button>
                <% end %>
                <% end %>

            </div>


        </div>
    </div>
</div>