<div class="card card-fabric mx-2 p-1" id="fabric">
    <% unless fabric.photos[0].nil?%>
    <%= link_to fabric_path(fabric) do %>
    <%=  cl_image_tag fabric.photos[0].key, :transformation=>[{:width=>400, :height=>250, :crop=>"fill"}] %>
    <% end %>
    <% else %>
    <%= link_to fabric_path(fabric) do %>
    <%= image_tag "textile_roll.png", size: "250x250" %>
    <% end %>
    <% end %>

    <%= render './shared/edit_links', fabric: fabric %>

    <div class="card-body fabric">
        <div class="content">
            <div class="d-flex justify-content-between">
                <h5 class="card-title"><%= fabric.name %></h5>
                <p class="card-text"><strong>R$<%= fabric.price/100 %>/m</strong></p>
            </div>
            <p class="card-text"><%= fabric.composition %></p>
            <p class="hidden" id="searchable-item-color"><%= fabric.colour %></p>
            <p class="hidden" id="searchable-item-fabric-type"><%= fabric.fabric_type %></p>
            <p class="hidden" id="searchable-item-price"><%= fabric.price %></p>
            <%  unless fabric.labels.empty? %>
            <%  fabric.labels.each do |label| %>
            <p class="hidden" id="searchable-item-labels"><%= label.name %></p>
            <% end %>
            <div class="my-1 d-flex justify-content-center">
                <%= render './shared/labels_grid', fabric: fabric, size: 30 %>
                <div class="samplebtn">
                    <form class="simple_form form-inline" id="new_fabric_to_cart" novalidate="novalidate" action="/fabric_to_carts" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="ZEEmtY/QGEfDdKrv9Jnthk48b5u+zSkF3Yv12a9+mBSVpN9eIjwiicE+uwHAFAeQGd4ZRzdRy/6kO3sOAPO1HQ==">
                        <span class="hidden fabric_to_cart_fabric_id"><input class="form-control hidden" value="11" type="hidden" name="fabric_to_cart[fabric_id]" id="fabric_to_cart_fabric_id"></span>
                        <input value="true" type="hidden" name="fabric_to_cart[is_sample]" id="fabric_to_cart_is_sample">

                        <button type="submit" class="btn btn-success btn-sm btn-card-index-sample">
                            <i class="fas fa-swatchbook"></i>
                        </button>
                    </form>
                </div>
            </div>
            <% end %>
        </div>
        <div>

            <% if params[:id].nil?%>
            <%= simple_form_for @fabric_to_cart do |f| %>
            <%= f.input :fabric_id, :as => :hidden, :input_html => { :value => fabric.id } %>


            <div class="d-flex align-items-baseline  justify-content-between">
                <div class="d-flex align-items-baseline">
                    <div class="form-group integer required fabric_to_cart_quantity form-index-fabric"><input class="form-control numeric integer required" value="<%=fabric.minimum_qty%>" type="number" step="1" name="fabric_to_cart[quantity]" id="fabric_to_cart_quantity"></div>

                    <label>m</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-card-index-cart">
                        <i class="fas fa-cart-arrow-down"></i>
                    </button>
                </div>
            </div>

            <% end %>
            <% end %>
        </div>




    </div>
</div>