<div class="navbar navbar-expand-sm navbar-light navbar-lewagon white fixed-top">
  <div>
    <%= link_to fabrics_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %> 
    <% end %>
    <a href="fabrics">Da Pluma à Pele</a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= current_user.name %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "user_green.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.company.nil? && current_user.owned_company.nil?  %>
              <%= link_to "Create company", new_company_path, class: "dropdown-item"  %>
              <%= link_to "Join company", search_company_path, class: "dropdown-item"  %>
            <% end  %>
            <% unless current_user.owned_company.nil?  %>
              <%= link_to "Manage your company", my_company_path(current_user.owned_company), class: "dropdown-item"  %>
            <% end  %>
            <%= link_to cart_path, class: "dropdown-item" do %>
              Meu carrinho <span class="cart-quantity">(<%= @quantity %>)</span>
            <% end %>
            <% unless current_user.what_company.nil?  %>
              <%= link_to "Meus produtos", fabrics_company_path(current_user.what_company), class: "dropdown-item"  %>
            <% end %>
            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item"  %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            Login <%= image_tag "user_gray.png", class: "avatar" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
