<div class="container-background">
	<div class="container">
		<h1>Da Pluma à Pele</h1>
		<p>Create clothes, build connections</p>
		<p>Aqui você pode construir sua cadeia produtiva de forma mais sustentável, da produção de algodão até a confeção da roupa. Encontre produtos e fornecedores que prezam por um maior respeito das pessoas e do meio ambiente.</p>
		<%= link_to "" do %>
			<button class="btn btn-success">Descubra nossos tecidos</button>
		<% end %>
	</div>
</div>

<div class="container my-5">
	<h2>Encontre tecidos produzidos com práticas sustentáveis</h2>
	<div class="row">
		<div class="col-3 pr-2">
			<%= image_tag "cotton", alt: "alttext", class: "thumbnail d-flex"%>
			<p>Algodão BCI, orgânico, ou vindo da agricultura familiar. Do Brasil e Importado</p>
		</div>
		<div class="col-3 pr-2">
			<%= image_tag "textile", alt: "alttext", class: "thumbnail d-flex" %>
			<p>Tecelagens que respeitam seus colaboradores, e tecelagens artesanais</p>
		</div>	
		<div class="col-3 pr-2">
			<%= image_tag "pigment", alt: "alttext", class: "thumbnail d-flex" %>
			<p>Tingimento consciente, ou de pigmentação natural</p>
		</div>
		<div class="col-3">
			<%= image_tag "quality", alt: "alttext", class: "thumbnail d-flex" %>
			<p>Cuidamos da logística e garantimos a qualidade dos produtos </p>
		</div>	
	</div>
</div>






