<div class="container">
    <div class="m-4">
        <%= simple_form_for  @company do |f| %>
        <div class="d-flex d-flex justify-content-center">
            <div class="form-item row-with-2">
                <%= f.input :name,label: "Nome" %>
            </div>
            <div class="form-item row-with-2">
                <%= f.input :cnpj,label: "CNPJ" %>
            </div>
        </div>
        <div class="form-item">
            <%= f.input :description,label: "Descrição da empresa" %>
        </div>
        <div class="d-flex d-flex justify-content-center">
            <div class="form-item row-with-3">
                <%= f.input :cep %>
            </div>
            <div class="form-item row-with-3">
                <%= f.input :uf %>
            </div>
            <div class="form-item row-with-3">
                <%= f.input :cidade %>
            </div>
        </div>
        <div class="d-flex d-flex justify-content-center">
        </div>
        <div class="d-flex d-flex justify-content-center">
            <div class="form-item row-with-2">
                <%= f.input :bairro %>
            </div>
            <div class="form-item row-with-2">
                <%= f.input :rua %>
            </div>
        </div>
        <div class="d-flex d-flex justify-content-center">
            <div class="form-item row-with-2">
                <%= f.input :numero %>
            </div>
            <div class="form-item row-with-2">
                <%= f.input :complemento %>
            </div>
        </div>


        <div class="d-flex d-flex justify-content-center">
            <%= f.submit "Criar empresa", class: "btn btn-outline-primary my-auto" %>
            <% end %>
        </div>
    </div>